[Desktop Entry]
Categories=Office
Comment=Jewish Calendar
Comment[he]=לוח שנה עברי עם זמני היום ההלכתיים
Exec=luach
Icon=/usr/share/Luach/calendar.png
Name=Luach
Name[he]=לוח
StartupNotify=true
Terminal=false
Type=Application
