Source: luach
Section: utils
Priority: extra
Maintainer: Moshe Wagner <moshe.wagner@gmail.com>
Build-Depends: debhelper (>= 9), qtbase5-dev, libhdate-dev, libhdate1
Standards-Version: 3.8.3
Homepage: http://luach.googlecode.com

Package: luach
Architecture: any
Depends: ${shlibs:Depends},  ${misc:Depends}, libqt5gui5, default-jre, libhdate1, jarwrapper
Description:Hebrew calendar and Jewish "Zmanim" program
 Luach provides a graphical Hebrew calendar based on libhdate,
 and Jewish 'Zmanim' based on kosherjava.com.